/* impostazioni generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}


/* header */
header, main {
    background-color: white;
}

header {
    height: 100px;
}

header h1 {
    display: inline-block;
}

header div {
    margin-left: 50px;
    padding-top: 19px;
}


/* main */
#container {
  
}

main {
    max-width: 80%;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 7px;
}


/* sezione adding */

.allineamento {
    margin-left: 30px;
    padding-top: 30px;
}
#adding {
    height: 70px;
    border-bottom: 2px solid #F6F8F9;
    margin-top: 30px;
}

input {
    padding: 3px;
    border: none;
    border-radius: 3px;
}

#bottone_azzurro {
    background-color: #14AAF5;
    color: white;
    border: 1px solid #14AAF5;
}

#bottone_bianco {
    background-color: white;
    color: #C4CBD0;
    border: 1px solid #C4CBD0;
    
}


/* sezione new task */
.freccia {
    font-size: 200%;
    vertical-align:top;
}

h3 {
    display: inline-block;
}

.tick {
    border: 1px solid green;
    border-radius: 10px;
    color: green;
}

.rettangoli_colorati {
    color: white;
    border-radius: 10px;
    padding: 6px;
    font-size: 60%;
}

.editorial {
    background-color: #14AAF5;
}

/* sezione today */
.cross {
    border: 1px solid red;
    border-radius: 10px;
    color: red;
}

.q1_goals {
    background-color: #AB5DE6;
}

.recruiting {
    background-color: #2CC6AB;
}

.mobile {
    background-color: #FF9B00;
}